<nav>
  <div class="px-3 py-2 text-bg-dark border-bottom fixed-top bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">AirBnb</a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li> <%= link_to 'Home', flats_path, class: "nav-link text-white" %> </li>
          <li> <%= link_to 'Create New Flat', flats_new_path, class: "nav-link text-white" %> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<div class="container">
  <h1>All flats</h1>
</div>
<div class="container">
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-md-4">
      <div class="flat-card border border-primary">
        <%# <div class="flat-card-image" style="background-image: url('https://images.pexels.com/photos/2510067/pexels-photo-2510067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')"></div> %>
        <div class="flat-card-image" style="background-image: url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')"></div>
        <div class="flat-card-content">
          <div class="flat-card-title">
            <h4> <%= flat.name %> </h4>
          </div>
          <p> <%= flat.address %> </p>
          <div class="flex">
            <div class="flex align-items-center">
              <i class="fa-solid fa-people-line"></i>
              <span> <%= flat.number_of_guests %> </span>
            </div>
            <div class="flex align-items-center ms-3">
              <i class="fa-solid fa-euro-sign"></i>
              <span> <%= flat.price_per_night %> </span>
            </div>
          </div>
        </div>
        <div class="flat-card-actions">
          <%= link_to 'More info', flat_path(flat[:id]) %>
          <%= link_to 'Edit', flats_edit_path(flat[:id]), class: "ms-3 text-warning" %>
          <%= link_to 'Delete', flat_path(flat), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "ms-3 text-danger" %>
        </div>
    </div>
  </div>
  <% end %>
</div>
