<nav>
  <div class="px-3 py-2 text-bg-dark border-bottom fixed-top bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">AirBnb</a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li> <%= link_to 'Home', flats_path, class: "nav-link text-white" %> </li>
          <li> <%= link_to 'Create New Flat', flats_new_path, class: "nav-link text-white" %> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<br>

<div class="container">
  <h1> <%= @flat.name %> </h1>
  <p> <%= @flat.address %> </p>
  <p> <%= @flat.description %> </p>
</div>
